/* Darker, more visible pane dividers for Terminator */
paned > separator {
	min-width: 4px;
	min-height: 4px;
	background-color: #1a3a4a;
	background-image: none;
}

paned > separator:hover {
	background-color: #2a5a6a;
}
