{
  "Profiles": [
    {
      "Name": "Armada",
      "Guid": "armada-default",
      "Normal Font": "FiraCodeNerdFontComplete-Regular 12",
      "Use Non-ASCII Font": false,
      "Transparency": 0.25,
      "Background Color": {
        "Red Component": 0.0,
        "Green Component": 0.102,
        "Blue Component": 0.133
      },
      "Foreground Color": {
        "Red Component": 0.722,
        "Green Component": 0.800,
        "Blue Component": 0.839
      },
      "Cursor Color": {
        "Red Component": 0.722,
        "Green Component": 0.800,
        "Blue Component": 0.839
      },
      "Ansi 0 Color": {
        "Red Component": 0.0,
        "Green Component": 0.102,
        "Blue Component": 0.133
      },
      "Ansi 1 Color": {
        "Red Component": 0.925,
        "Green Component": 0.365,
        "Blue Component": 0.435
      },
      "Ansi 2 Color": {
        "Red Component": 0.290,
        "Green Component": 0.706,
        "Blue Component": 0.694
      },
      "Ansi 3 Color": {
        "Red Component": 0.922,
        "Green Component": 0.784,
        "Blue Component": 0.553
      },
      "Ansi 4 Color": {
        "Red Component": 0.365,
        "Green Component": 0.722,
        "Blue Component": 0.878
      },
      "Ansi 5 Color": {
        "Red Component": 0.812,
        "Green Component": 0.541,
        "Blue Component": 0.839
      },
      "Ansi 6 Color": {
        "Red Component": 0.557,
        "Green Component": 0.894,
        "Blue Component": 0.878
      },
      "Ansi 7 Color": {
        "Red Component": 0.604,
        "Green Component": 0.639,
        "Blue Component": 0.678
      },
      "Ansi 8 Color": {
        "Red Component": 0.765,
        "Green Component": 0.773,
        "Blue Component": 0.788
      },
      "Ansi 9 Color": {
        "Red Component": 0.973,
        "Green Component": 0.486,
        "Blue Component": 0.533
      },
      "Ansi 10 Color": {
        "Red Component": 0.412,
        "Green Component": 0.690,
        "Blue Component": 0.565
      },
      "Ansi 11 Color": {
        "Red Component": 0.867,
        "Green Component": 0.627,
        "Blue Component": 0.533
      },
      "Ansi 12 Color": {
        "Red Component": 0.655,
        "Green Component": 0.671,
        "Blue Component": 0.914
      },
      "Ansi 13 Color": {
        "Red Component": 0.922,
        "Green Component": 0.302,
        "Blue Component": 0.871
      },
      "Ansi 14 Color": {
        "Red Component": 0.435,
        "Green Component": 0.765,
        "Blue Component": 0.910
      },
      "Ansi 15 Color": {
        "Red Component": 0.722,
        "Green Component": 0.800,
        "Blue Component": 0.839
      },
      "Scrollback Lines": 100000,
      "Copy to Clipboard on Selection": true,
      "Show Status Bar": false,
      "Show Profile Name": false,
      "Use Bold Font": true
    },
    {
      "Name": "Classic Green",
      "Guid": "classic-green",
      "Normal Font": "FiraCodeNerdFontComplete-Regular 12",
      "Use Non-ASCII Font": false,
      "Transparency": 0.25,
      "Background Color": {
        "Red Component": 0,
        "Green Component": 0,
        "Blue Component": 0
      },
      "Foreground Color": {
        "Red Component": 0,
        "Green Component": 1,
        "Blue Component": 0
      },
      "Scrollback Lines": 100000,
      "Copy to Clipboard on Selection": true,
      "Show Status Bar": false,
      "Show Profile Name": false,
      "Use Bold Font": true
    }
  ]
}
